.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title{
  margin-top: 75px;
}
.connectbtn {
  background-color: skyblue;
  width: 120px;
  height: 45px;
  border-radius: 13px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.connectorbtnlist {
  display: flex;
  max-height: 80px;
  background: lightblue;
}

.connectorbtn {
  background-color: white;
  padding: 10px;
  margin: 0px;
  border: 10px solid lightblue;
  border-radius: 20px !important;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: black;
  width: 400px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: skyblue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}